.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    background-color: purple;
    color: white;
}

body {
    background-size: cover;
}

.div_speed {
    float: left;

}

.speed_div_disk {
    width: 200px;
    border-radius: 0px;
}

#speed_div {
    font-size: 25px;
    margin: 15px;
}

.div_speed_1 {
    float: right;
}

#play {
    width: 130px;
    font-size: 20px;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
}